.navContainer img {
  width: 6rem;
  height: auto;
  animation: logoAnimation 3s infinite;
}

.navContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
  
  .navLink {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  .active {
    box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }

  .navLink:hover {
    box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
  }

  .navLink:focus  
  {
    box-shadow: 0 0 5px #ff4081, 0 0 10px #ff4081, 0 0 15px #ff4081;
  }


  .navContainer input {
    width: 30%;
    border: none;
    border-radius: 2rem;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    outline: none;
    transition: border-bottom-color 0.3s ease;

  }

  .navContainer input:focus {
    border-bottom-color: #00ffff;
  }
  
  
  
  @media (max-width: 768px) {
    .navContainer {
      flex-direction: column;
    }
    
    .navLink {
      margin-bottom: 10px;
    }
    
    .searchContainer {
      margin-bottom: 10px;
    }
  }

  @keyframes logoAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  
  /* background-color: #00ffff;
  background-color: #ff4081; */
  
  /* .divider {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
  } */