/* .warning {
    border: solid red 1px;
    border-radius: 0.2em;
  }
  
  .danger {
    font-size: 12px;
    color: red;
    margin-left: 10em;
  } */

  
   body {
     background-image: url('../../../assets/BG3.png');
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

  } 

.neon {
    position: relative;
    overflow: hidden;
    filter: brightness(200%);
}

.text {
    background-color: black;
    backdrop-filter: blur(5px);
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    /* text-transform: uppercase; */
    position: relative;
    user-select: none;
    
}

.text::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
}

.gradient {
    position: absolute;
    background: linear-gradient(45deg, #00ffff, #ff4081, #00ffff, #ff4081, #00ffff);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

.spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            white,
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            white,
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
}

@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}

  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
  
  .loginContainer h2 {
    text-align: center;
  }
  
  .loginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    /* box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; */
  }

    .loginContainer form:hover {
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
  
  .loginContainer .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .loginContainer label {
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0.5;
  }
  
  .loginContainer input {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    outline: none;
    transition: border-bottom-color 0.3s ease;
  }
  
  .loginContainer input:focus {
    border-bottom-color: #00ffff;
  }
  
  .loginContainer input:focus + label {
    font-size: 12px;
    transform: translateY(-120%);
    opacity: 1;
  }
  
  /* .span{
    display: flex;
    flex-direction: row;

  } */
  
  .loginContainer button {
    padding: 10px;
    border: none;
    
    background-color: #ff4081;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginContainer button:hover {
    background-color: #00ffff;
    color: black;
  }

  .loginContainer p {
    color: red;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
  }
  
  /* Responsive styles */
  @media (max-width: 480px) {
    .loginContainer form {
      width: 80%;
    }
  }
  