.about {
    display: flex;
    flex-wrap: wrap; 
    /* justify-content: center; */
    justify-content: space-evenly;
    padding: 1em;
    border-radius: 15px;
    margin: 1em;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }

  .about img {
    margin: 10px;
    border-radius: 15%;
    width: auto;
    height: auto;
}

.about h1 {
    font-size: 2rem;
    border-radius: 50%;
    background-color: gold;
    /* width: 300px; */
}

.about h3 {
    text-align: center;
    width: 500px
}
